# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
1000-Hello World\!/1000-Hello World\!.cbp
Exercises-Beecrowd/1000-Hello World\!/1000-Hello World\!.cbp
Exercises-Beecrowd/1000-Hello World\!/1000-Hello World\!.layout
Exercises-Beecrowd/1000-Hello World/1000-Hello World.cbp
Exercises-Beecrowd/1000-Hello World/1000-Hello World.layout
Exercises-Beecrowd/1001-Extremamente Básico/1001-Extremamente Básico.depend
Exercises-Beecrowd/1001-Extremamente Básico/1001-Extremamente Básico.cbp
Exercises-Beecrowd/1001-Extremamente Básico/1001-Extremamente Básico.layout
Exercises-Beecrowd/1002-Área do Círculo/1002-Área do Círculo.cbp
Exercises-Beecrowd/1002-Área do Círculo/1002-Área do Círculo.depend
Exercises-Beecrowd/1002-Área do Círculo/1002-Área do Círculo.layout
Exercises-Beecrowd/1003 - Soma Simples/1003 - Soma Simples.cbp
Exercises-Beecrowd/1003 - Soma Simples/1003 - Soma Simples.depend
Exercises-Beecrowd/1003-Soma Simples/1003 - Soma Simples.cbp
Exercises-Beecrowd/1003-Soma Simples/1003 - Soma Simples.depend
Exercises-Beecrowd/1003-Soma Simples/1003 - Soma Simples.layout
Exercises-Beecrowd/1003 - Soma Simples/main.cpp
Exercises-Beecrowd/1003 - Soma Simples/main.cpp
Exercises-Beecrowd/1000 - Hello World/1000-Hello World.cbp
Exercises-Beecrowd/1000 - Hello World/1000-Hello World.layout
Exercises-Beecrowd/1001 - Extremamente Básico/1001-Extremamente Básico.cbp
Exercises-Beecrowd/1001 - Extremamente Básico/1001-Extremamente Básico.depend
Exercises-Beecrowd/1001 - Extremamente Básico/1001-Extremamente Básico.layout
Exercises-Beecrowd/1002 - Área do Círculo/1002-Área do Círculo.cbp
Exercises-Beecrowd/1002 - Área do Círculo/1002-Área do Círculo.depend
Exercises-Beecrowd/1002 - Área do Círculo/1002-Área do Círculo.layout
Exercises-Beecrowd/1003 - Soma Simples/1003 - Soma Simples.layout
Exercises-Beecrowd/1003 -Soma Simples/1003 - Soma Simples.cbp
Exercises-Beecrowd/1003 -Soma Simples/1003 - Soma Simples.depend
Exercises-Beecrowd/1003 -Soma Simples/1003 - Soma Simples.layout
Exercises-Beecrowd/1003  - Soma Simples/1003  - Soma Simples.cbp
Exercises-Beecrowd/1003  - Soma Simples/1003  - Soma Simples.layout
Exercises-Beecrowd/1004 - Produto Simples/1004 - Produto Simples.cbp
Exercises-Beecrowd/1004 - Produto Simples/1004 - Produto Simples.depend
Exercises-Beecrowd/1004 - Produto Simples/1004 - Produto Simples.layout
Exercises-Beecrowd/1005 - Média 1/1005 - Média 1.cbp
Exercises-Beecrowd/1005 - Média 1/1005 - Média 1.layout
Exercises-Beecrowd/1006 - Média 2/1006 - Média 2.depend
Exercises-Beecrowd/1006 - Média 2/1006 - Média 2.cbp
Exercises-Beecrowd/1006 - Média 2/1006 - Média 2.layout
Exercises-Beecrowd/1007 - Diferença/1007 - Diferença.cbp
