# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
1000-Hello World\!/1000-Hello World\!.cbp
Exercises-Beecrowd/1000-Hello World\!/1000-Hello World\!.cbp
Exercises-Beecrowd/1000-Hello World\!/1000-Hello World\!.layout
Exercises-Beecrowd/1000-Hello World/1000-Hello World.cbp
Exercises-Beecrowd/1000-Hello World/1000-Hello World.layout
Exercises-Beecrowd/1001-Extremamente Básico/1001-Extremamente Básico.depend
Exercises-Beecrowd/1001-Extremamente Básico/1001-Extremamente Básico.cbp
Exercises-Beecrowd/1001-Extremamente Básico/1001-Extremamente Básico.layout
Exercises-Beecrowd/1002-Área do Círculo/1002-Área do Círculo.cbp
Exercises-Beecrowd/1002-Área do Círculo/1002-Área do Círculo.depend
Exercises-Beecrowd/1002-Área do Círculo/1002-Área do Círculo.layout
