# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
1000-Hello World\!/1000-Hello World\!.cbp
Exercises-Beecrowd/1000-Hello World\!/1000-Hello World\!.cbp
Exercises-Beecrowd/1000-Hello World\!/1000-Hello World\!.layout
Exercises-Beecrowd/1000-Hello World/1000-Hello World.cbp
Exercises-Beecrowd/1000-Hello World/1000-Hello World.layout
Exercises-Beecrowd/1001-Extremamente Básico/1001-Extremamente Básico.depend
Exercises-Beecrowd/1001-Extremamente Básico/1001-Extremamente Básico.cbp
Exercises-Beecrowd/1001-Extremamente Básico/1001-Extremamente Básico.layout
Exercises-Beecrowd/1002-Área do Círculo/1002-Área do Círculo.cbp
Exercises-Beecrowd/1002-Área do Círculo/1002-Área do Círculo.depend
Exercises-Beecrowd/1002-Área do Círculo/1002-Área do Círculo.layout
Exercises-Beecrowd/1003 - Soma Simples/1003 - Soma Simples.cbp
Exercises-Beecrowd/1003 - Soma Simples/1003 - Soma Simples.depend
Exercises-Beecrowd/1003-Soma Simples/1003 - Soma Simples.cbp
Exercises-Beecrowd/1003-Soma Simples/1003 - Soma Simples.depend
Exercises-Beecrowd/1003-Soma Simples/1003 - Soma Simples.layout
Exercises-Beecrowd/1003 - Soma Simples/main.cpp
Exercises-Beecrowd/1003 - Soma Simples/main.cpp
Exercises-Beecrowd/1000 - Hello World/1000-Hello World.cbp
Exercises-Beecrowd/1000 - Hello World/1000-Hello World.layout
Exercises-Beecrowd/1001 - Extremamente Básico/1001-Extremamente Básico.cbp
Exercises-Beecrowd/1001 - Extremamente Básico/1001-Extremamente Básico.depend
Exercises-Beecrowd/1001 - Extremamente Básico/1001-Extremamente Básico.layout
Exercises-Beecrowd/1002 - Área do Círculo/1002-Área do Círculo.cbp
Exercises-Beecrowd/1002 - Área do Círculo/1002-Área do Círculo.depend
Exercises-Beecrowd/1002 - Área do Círculo/1002-Área do Círculo.layout
Exercises-Beecrowd/1003 - Soma Simples/1003 - Soma Simples.layout
Exercises-Beecrowd/1003 -Soma Simples/1003 - Soma Simples.cbp
Exercises-Beecrowd/1003 -Soma Simples/1003 - Soma Simples.depend
Exercises-Beecrowd/1003 -Soma Simples/1003 - Soma Simples.layout
Exercises-Beecrowd/1003  - Soma Simples/1003  - Soma Simples.cbp
Exercises-Beecrowd/1003  - Soma Simples/1003  - Soma Simples.layout
Exercises-Beecrowd/1004 - Produto Simples/1004 - Produto Simples.cbp
Exercises-Beecrowd/1004 - Produto Simples/1004 - Produto Simples.depend
Exercises-Beecrowd/1004 - Produto Simples/1004 - Produto Simples.layout
Exercises-Beecrowd/1005 - Média 1/1005 - Média 1.cbp
Exercises-Beecrowd/1005 - Média 1/1005 - Média 1.layout
Exercises-Beecrowd/1006 - Média 2/1006 - Média 2.depend
Exercises-Beecrowd/1006 - Média 2/1006 - Média 2.cbp
Exercises-Beecrowd/1006 - Média 2/1006 - Média 2.layout
Exercises-Beecrowd/1007 - Diferença/1007 - Diferença.cbp
Exercises-Beecrowd/1007 - Diferença/1007 - Diferença.layout
Exercises-Beecrowd/1008 - Salário/1008 - Salário.cbp
Exercises-Beecrowd/1008 - Salário/1008 - Salário.depend
Exercises-Beecrowd/1008 - Salário/1008 - Salário.layout
Exercises-Beecrowd/1009 - Salário com Bônus/1009 - Salário com Bônus.cbp
Exercises-Beecrowd/1009 - Salário com Bônus/1009 - Salário com Bônus.depend
Exercises-Beecrowd/1009 - Salário com Bônus/1009 - Salário com Bônus.layout
Exercises-Beecrowd/1010 - Cálculo Simples/1010 - Cálculo Simples.cbp
Exercises-Beecrowd/1010 - Cálculo Simples/1010 - Cálculo Simples.depend
Exercises-Beecrowd/1010 - Cálculo Simples/1010 - Cálculo Simples.layout
Exercises-Beecrowd/1011 - Esfera/1011 - Esfera.cbp
Exercises-Beecrowd/1011 - Esfera/1011 - Esfera.depend
Exercises-Beecrowd/1011 - Esfera/1011 - Esfera.layout
Exercises-Beecrowd/1012 - Área/1012 - Área.cbp
Exercises-Beecrowd/1012 - Área/1012 - Área.layout
Exercises-Beecrowd/1013 - O Maior/1013 - O Maior.cbp
Exercises-Beecrowd/1014 - Consumo/1014 - Consumo.cbp
Exercises-Beecrowd/1015 - Distância Entre Dois Pontos/1015 - Distância Entre Dois Pontos.cbp
Exercises-Beecrowd/1016 - Distância/1016 - Distância.cbp
Exercises-Beecrowd/1017 - Gasto de Combustível/1017 - Gasto de Combustível.cbp
Exercises-Beecrowd/1018 - Cédulas/1018 - Cédulas.cbp
Exercises-Beecrowd/1019 - Conversão de Tempo/1019 - Conversão de Tempo.cbp
Exercises-Beecrowd/1020 - Idade em Dias/1020 - Idade em Dias.cbp
Exercises-Beecrowd/1013 - O Maior/1013 - O Maior.layout
Exercises-Beecrowd/1014 - Consumo/1014 - Consumo.layout
Exercises-Beecrowd/1015 - Distância Entre Dois Pontos/1015 - Distância Entre Dois Pontos.layout
Exercises-Beecrowd/1016 - Distância/1016 - Distância.layout
Exercises-Beecrowd/1017 - Gasto de Combustível/1017 - Gasto de Combustível.layout
Exercises-Beecrowd/1018 - Cédulas/1018 - Cédulas.layout
Exercises-Beecrowd/1019 - Conversão de Tempo/1019 - Conversão de Tempo.layout
Exercises-Beecrowd/1020 - Idade em Dias/1020 - Idade em Dias.layout
Exercises-Beecrowd/1021 - Notas e Moedas/1021 - Notas e Moedas.cbp
Exercises-Beecrowd/1021 - Notas e Moedas/1021 - Notas e Moedas.depend
Exercises-Beecrowd/1022 - TDA Racional/1022 - TDA Racional.cbp
Exercises-Beecrowd/1002 - Area do Circulo/1002-Área do Círculo.layout
Exercises-Beecrowd/1002 - Area do Circulo/1002-Área do Círculo.depend
Exercises-Beecrowd/1002 - Area do Circulo/1002-Área do Círculo.cbp
Exercises-Beecrowd/1001 - Extremamente Basico/1001-Extremamente Básico.cbp
Exercises-Beecrowd/1001 - Extremamente Basico/1001-Extremamente Básico.depend
Exercises-Beecrowd/1001 - Extremamente Basico/1001-Extremamente Básico.layout
Exercises-Beecrowd/1005 - Media 1/1005 - Média 1.cbp
Exercises-Beecrowd/1005 - Media 1/1005 - Média 1.layout
Exercises-Beecrowd/1006 - Media 2/1006 - Média 2.cbp
Exercises-Beecrowd/1006 - Media 2/1006 - Média 2.depend
Exercises-Beecrowd/1006 - Media 2/1006 - Média 2.layout
Exercises-Beecrowd/1007 - Diferenca/1007 - Diferença.cbp
Exercises-Beecrowd/1007 - Diferenca/1007 - Diferença.layout
Exercises-Beecrowd/1008 - Salario/1008 - Salário.cbp
Exercises-Beecrowd/1008 - Salario/1008 - Salário.depend
Exercises-Beecrowd/1008 - Salario/1008 - Salário.layout
Exercises-Beecrowd/1009 - Salario com Bonus/1009 - Salário com Bônus.cbp
Exercises-Beecrowd/1009 - Salario com Bonus/1009 - Salário com Bônus.depend
Exercises-Beecrowd/1009 - Salario com Bonus/1009 - Salário com Bônus.layout
Exercises-Beecrowd/1010 - Calculo Simples/1010 - Cálculo Simples.cbp
Exercises-Beecrowd/1010 - Calculo Simples/1010 - Cálculo Simples.depend
Exercises-Beecrowd/1010 - Calculo Simples/1010 - Cálculo Simples.layout
Exercises-Beecrowd/1012 - Area/1012 - Área.cbp
Exercises-Beecrowd/1012 - Area/1012 - Área.layout
Exercises-Beecrowd/1015 - Distancia Entre Dois Pontos/1015 - Distância Entre Dois Pontos.cbp
Exercises-Beecrowd/1015 - Distancia Entre Dois Pontos/1015 - Distância Entre Dois Pontos.layout
Exercises-Beecrowd/1016 - Distancia/1016 - Distância.cbp
Exercises-Beecrowd/1016 - Distancia/1016 - Distância.layout
Exercises-Beecrowd/1018 - Cedulas/1018 - Cédulas.cbp
Exercises-Beecrowd/1018 - Cedulas/1018 - Cédulas.layout
Exercises-Beecrowd/1019 - Conversao de Tempo/1019 - Conversão de Tempo.cbp
Exercises-Beecrowd/1019 - Conversao de Tempo/1019 - Conversão de Tempo.layout
Exercises-Beecrowd/1017 - Gasto de Combustivel/1017 - Gasto de Combustível.layout
Exercises-Beecrowd/1017 - Gasto de Combustivel/1017 - Gasto de Combustível.cbp
Exercises-Beecrowd/1035 - Teste de Selecao 1/1035 - Teste de Selecao 1.cbp
Exercises-Beecrowd/1036 - Formula de Bhaskara/1036 - Formula de Bhaskara.cbp
Exercises-Beecrowd/1037 - Intervalo/1037 - Intervalo.cbp
Exercises-Beecrowd/1038 - Lanche/1038 - Lanche.cbp
Exercises-Beecrowd/1040 - Media 3/1040 - Media 3.cbp
Exercises-Beecrowd/1041 - Coordenadas de um Ponto/1041 - Coordenadas de um Ponto.cbp
Exercises-Beecrowd/1042 - Sort Simples/1042 - Sort Simples.cbp
Exercises-Beecrowd/1042 - Sort Simples/1042 - Sort Simples.layout
Exercises-Beecrowd/1021 - Notas e Moedas/1021 - Notas e Moedas.layout
Exercises-Beecrowd/1022 - TDA Racional/1022 - TDA Racional.layout
Exercises-Beecrowd/1035 - Teste de Selecao 1/1035 - Teste de Selecao 1.layout
Exercises-Beecrowd/1036 - Formula de Bhaskara/1036 - Formula de Bhaskara.layout
Exercises-Beecrowd/1037 - Intervalo/1037 - Intervalo.layout
Exercises-Beecrowd/1038 - Lanche/1038 - Lanche.layout
Exercises-Beecrowd/1040 - Media 3/1040 - Media 3.layout
Exercises-Beecrowd/1041 - Coordenadas de um Ponto/1041 - Coordenadas de um Ponto.layout
Exercises-Beecrowd/1043 - Triangulo/1043 - Triangulo.cbp
Exercises-Beecrowd/1043 - Triangulo/1043 - Triangulo.layout
Exercises-Beecrowd/1044 - multiplos/1044 - multiplos.cbp
Exercises-Beecrowd/1044 - multiplos/1044 - multiplos.layout
Exercises-Beecrowd/1045 - Tipos de Triangulo/1045 - Tipos de Triangulo.cbp
Exercises-Beecrowd/1045 - Tipos de Triangulo/1045 - Tipos de Triangulo.layout
Exercises-Beecrowd/1045 - Tipos de Triangulo/1045 - Tipos de Triangulo.depend
Exercises-Beecrowd/1046 - Tempo de Jogo/1046 - Tempo de Jogo.cbp
Exercises-Beecrowd/1046 - Tempo de Jogo/1046 - Tempo de Jogo.depend
Exercises-Beecrowd/1046 - Tempo de Jogo/1046 - Tempo de Jogo.layout
Exercises-Beecrowd/1047 - Tempo de Jogo com Minutos/1047 - Tempo de Jogo com Minutos.cbp
Exercises-Beecrowd/1047 - Tempo de Jogo com Minutos/1047 - Tempo de Jogo com Minutos.depend
Exercises-Beecrowd/1047 - Tempo de Jogo com Minutos/1047 - Tempo de Jogo com Minutos.depend
Exercises-Beecrowd/1047 - Tempo de Jogo com Minutos/1047 - Tempo de Jogo com Minutos.depend
Exercises-Beecrowd/1047 - Tempo de Jogo com Minutos/1047 - Tempo de Jogo com Minutos.depend
Exercises-Beecrowd/1047 - Tempo de Jogo com Minutos/1047 - Tempo de Jogo com Minutos.depend
Exercises-Beecrowd/1047 - Tempo de Jogo com Minutos/1047 - Tempo de Jogo com Minutos.layout
Exercises-Beecrowd/1047 - Tempo de Jogo com Minutos/1047 - Tempo de Jogo com Minutos.depend
Exercises-Beecrowd/1048 - Aumento de Salario/1048 - Aumento de Salario.layout
Exercises-Beecrowd/1049 - Animal/1049 - Animal.cbp
Exercises-Beecrowd/1049 - Animal/1049 - Animal.layout
Exercises-Beecrowd/1050 - DDD/1050 - DDD.cbp
Exercises-Beecrowd/1050 - DDD/1050 - DDD.layout
Exercises-Beecrowd/1051 - Imposto de Renda/1051 - Imposto de Renda.cbp
Exercises-Beecrowd/1051 - Imposto de Renda/1051 - Imposto de Renda.depend
Exercises-Beecrowd/1051 - Imposto de Renda/1051 - Imposto de Renda.layout
Exercises-Beecrowd/1052 - Mes/1052 - Mes.cbp
Exercises-Beecrowd/1052 - Mes/1052 - Mes.layout
Exercises-Beecrowd/1059 - Numeros Pares/1059 - Numeros Pares.cbp
Exercises-Beecrowd/1059 - Numeros Pares/1059 - Numeros Pares.depend
Exercises-Beecrowd/1059 - Numeros Pares/1059 - Numeros Pares.layout
Exercises-Beecrowd/1060 - Numeros Positivos/1060 - Numeros Positivos.cbp
Exercises-Beecrowd/1060 - Numeros Positivos/1060 - Numeros Positivos.depend
Exercises-Beecrowd/1060 - Numeros Positivos/1060 - Numeros Positivos.layout
Exercises-Beecrowd/1061 -Tempo de um Evento/1061 -Tempo de um Evento.cbp
Exercises-Beecrowd/1061 -Tempo de um Evento/1061 -Tempo de um Evento.layout
Exercises-Beecrowd/1064 - Positivos e Media/1064 - Positivos e Media.cbp
Exercises-Beecrowd/1064 - Positivos e Media/1064 - Positivos e Media.depend
Exercises-Beecrowd/1064 - Positivos e Media/1064 - Positivos e Media.layout
Exercises-Beecrowd/1065 - Pares entre Cinco Numeros/1065 - Pares entre Cinco Numeros.cbp
Exercises-Beecrowd/1065 - Pares entre Cinco Numeros/bin/Debug/desktop.ini
Exercises-Beecrowd/1065 - Pares entre Cinco Numeros/1065 - Pares entre Cinco Numeros.depend
Exercises-Beecrowd/1066 - Pares, Impares , Positivos e Negativos/1066 - Pares, Impares , Positivos e Negativos.cbp
Exercises-Beecrowd/1066 - Pares, Impares , Positivos e Negativos/1066 - Pares, Impares , Positivos e Negativos.layout
Exercises-Beecrowd/1067 - Numeros Impares/1067 - Numeros Impares.cbp
Exercises-Beecrowd/1067 - Numeros Impares/1067 - Numeros Impares.depend
Exercises-Beecrowd/1067 - Numeros Impares/1067 - Numeros Impares.layout
Exercises-Beecrowd/1070 - Seis Numeros Impares/1070 - Seis Numeros Impares.depend
Exercises-Beecrowd/1070 - Seis Numeros Impares/1070 - Seis Numeros Impares.layout
Exercises-Beecrowd/1071 - Soma de Impares Consecutivos I/1071 - Soma de Impares Consecutivos I.cbp
Exercises-Beecrowd/1071 - Soma de Impares Consecutivos I/1071 - Soma de Impares Consecutivos I.depend
Exercises-Beecrowd/1071 - Soma de Impares Consecutivos I/1071 - Soma de Impares Consecutivos I.depend
Exercises-Beecrowd/1071 - Soma de Impares Consecutivos I/1071 - Soma de Impares Consecutivos I.layout
Exercises-Beecrowd/1071 - Soma de Impares Consecutivos I/1071 - Soma de Impares Consecutivos I.depend
Exercises-Beecrowd/1072 - Intervalo 2/1072 - Intervalo 2.cbp
Exercises-Beecrowd/1072 - Intervalo 2/1072 - Intervalo 2.depend
Exercises-Beecrowd/1072 - Intervalo 2/1072 - Intervalo 2.layout
Exercises-Beecrowd/1073 - Quadrado de Pares/1073 - Quadrado de Pares.cbp
Exercises-Beecrowd/1073 - Quadrado de Pares/1073 - Quadrado de Pares.depend
Exercises-Beecrowd/1073 - Quadrado de Pares/1073 - Quadrado de Pares.layout
Exercises-Beecrowd/1074 - Par ou Impar/1074 - Par ou Impar.cbp
Exercises-Beecrowd/1074 - Par ou Impar/1074 - Par ou Impar.depend
Exercises-Beecrowd/1074 - Par ou Impar/1074 - Par ou Impar.layout
Exercises-Beecrowd/1075 - Resto 2/1075 - Resto 2.cbp
Exercises-Beecrowd/1075 - Resto 2/1075 - Resto 2.depend
Exercises-Beecrowd/1075 - Resto 2/1075 - Resto 2.layout
Exercises-Beecrowd/1078 - Tabuada/1078 - Tabuada.cbp
Exercises-Beecrowd/1078 - Tabuada/1078 - Tabuada.layout
Exercises-Beecrowd/1079 - Medias Ponderadas/1079 - Medias Ponderadas.cbp
Exercises-Beecrowd/1079 - Medias Ponderadas/1079 - Medias Ponderadas.depend
Exercises-Beecrowd/1079 - Medias Ponderadas/1079 - Medias Ponderadas.layout
Exercises-Beecrowd/1080 - Maior e Posicao/1080 - Maior e Posicao.cbp
Exercises-Beecrowd/1080 - Maior e Posicao/1080 - Maior e Posicao.layout
Exercises-Beecrowd/1094 - Experiencias/1094 - Experiencias.cbp
Exercises-Beecrowd/1094 - Experiencias/1094 - Experiencias.depend
Exercises-Beecrowd/1094 - Experiencias/1094 - Experiencias.layout
Exercises-Beecrowd/1095 - Sequencia IJ 1/1095 - Sequencia IJ 1.cbp
Exercises-Beecrowd/1095 - Sequencia IJ 1/1095 - Sequencia IJ 1.depend
Exercises-Beecrowd/1095 - Sequencia IJ 1/1095 - Sequencia IJ 1.layout
Exercises-Beecrowd/1096 - Sequencia IJ 2/1096 - Sequencia IJ 2.cbp
Exercises-Beecrowd/1096 - Sequencia IJ 2/1096 - Sequencia IJ 2.layout
Exercises-Beecrowd/1096 - Sequencia IJ 2/1096 - Sequencia IJ 2.depend
Exercises-Beecrowd/1097 - Sequencia IJ 3/1097 - Sequencia IJ 3.cbp
Exercises-Beecrowd/1097 - Sequencia IJ 3/1097 - Sequencia IJ 3.depend
Exercises-Beecrowd/1097 - Sequencia IJ 3/1097 - Sequencia IJ 3.layout
Exercises-Beecrowd/1098 - Sequencia IJ 4/1098 - Sequencia IJ 4.cbp
Exercises-Beecrowd/1098 - Sequencia IJ 4/1098 - Sequencia IJ 4.depend
Exercises-Beecrowd/1098 - Sequencia IJ 4/1098 - Sequencia IJ 4.layout
Exercises-Beecrowd/Soma de Impares Consecutivos II/main.cpp
Exercises-Beecrowd/Soma de Impares Consecutivos II/Soma de Impares Consecutivos II.depend
Exercises-Beecrowd/1099 - Soma de Impares Consecutivos II/1099 - Soma de Impares Consecutivos II.cbp
Exercises-Beecrowd/1099 - Soma de Impares Consecutivos II/1099 - Soma de Impares Consecutivos II.depend
Exercises-Beecrowd/1099 - Soma de Impares Consecutivos II/1099 - Soma de Impares Consecutivos II.layout
Exercises-Beecrowd/1101 - Sequencia de Numeros e Soma/1101 - Sequencia de Numeros e Soma.cbp
Exercises-Beecrowd/1101 - Sequencia de Numeros e Soma/1101 - Sequencia de Numeros e Soma.depend
Exercises-Beecrowd/1101 - Sequencia de Numeros e Soma/1101 - Sequencia de Numeros e Soma.layout
Exercises-Beecrowd/1113 - Crescente e Decrescente/1113 - Crescente e Decrescente.cbp
Exercises-Beecrowd/1113 - Crescente e Decrescente/1113 - Crescente e Decrescente.depend
Exercises-Beecrowd/1113 - Crescente e Decrescente/1113 - Crescente e Decrescente.layout
Exercises-Beecrowd/1114 - Senha Fixa/1114 - Senha Fixa.cbp
Exercises-Beecrowd/1114 - Senha Fixa/1114 - Senha Fixa.depend
Exercises-Beecrowd/1114 - Senha Fixa/1114 - Senha Fixa.layout
Exercises-Beecrowd/1115 - Quadrante/1115 - Quadrante.cbp
Exercises-Beecrowd/1115 - Quadrante/1115 - Quadrante.depend
Exercises-Beecrowd/1115 - Quadrante/1115 - Quadrante.layout
Exercises-Beecrowd/1116 - Dividindo X por Y/1116 - Dividindo X por Y.cbp
Exercises-Beecrowd/1116 - Dividindo X por Y/1116 - Dividindo X por Y.depend
Exercises-Beecrowd/1116 - Dividindo X por Y/1116 - Dividindo X por Y.layout
Exercises-Beecrowd/1117 - Validacao de Nota/1117 - Validacao de Nota.cbp
Exercises-Beecrowd/1117 - Validacao de Nota/1117 - Validacao de Nota.depend
Exercises-Beecrowd/1117 - Validacao de Nota/1117 - Validacao de Nota.layout
Exercises-Beecrowd/1118 - Varias Notas Com Validacao/1118 - Varias Notas Com Validacao.cbp
Exercises-Beecrowd/1118 - Varias Notas Com Validacao/1118 - Varias Notas Com Validacao.depend
Exercises-Beecrowd/1118 - Varias Notas Com Validacao/1118 - Varias Notas Com Validacao.depend
Exercises-Beecrowd/1118 - Varias Notas Com Validacao/1118 - Varias Notas Com Validacao.depend
Exercises-Beecrowd/1118 - Varias Notas Com Validacao/1118 - Varias Notas Com Validacao.depend
Exercises-Beecrowd/1118 - Varias Notas Com Validacao/1118 - Varias Notas Com Validacao.depend
Exercises-Beecrowd/1118 - Varias Notas Com Validacao/1118 - Varias Notas Com Validacao.depend
Exercises-Beecrowd/1118 - Varias Notas Com Validacao/1118 - Varias Notas Com Validacao.depend
Exercises-Beecrowd/1118 - Varias Notas Com Validacao/1118 - Varias Notas Com Validacao.depend
Exercises-Beecrowd/1118 - Varias Notas Com Validacao/1118 - Varias Notas Com Validacao.depend
Exercises-Beecrowd/1118 - Varias Notas Com Validacao/1118 - Varias Notas Com Validacao.depend
Exercises-Beecrowd/1118 - Varias Notas Com Validacao/1118 - Varias Notas Com Validacao.depend
Exercises-Beecrowd/1118 - Varias Notas Com Validacao/1118 - Varias Notas Com Validacao.depend
Exercises-Beecrowd/1118 - Varias Notas Com Validacao/1118 - Varias Notas Com Validacao.layout
Exercises-Beecrowd/1131 - Grenais/1131 - Grenais.cbp
Exercises-Beecrowd/1131 - Grenais/1131 - Grenais.layout
Exercises-Beecrowd/1132 - Mutiplos de 13/1132 - Mutiplos de 13.cbp
Exercises-Beecrowd/1132 - Mutiplos de 13/1132 - Mutiplos de 13.depend
Exercises-Beecrowd/1132 - Mutiplos de 13/1132 - Mutiplos de 13.layout
Exercises-Beecrowd/1133 - Resto da Divisao/1133 - Resto da Divisao.cbp
Exercises-Beecrowd/1133 - Resto da Divisao/1133 - Resto da Divisao.depend
Exercises-Beecrowd/1133 - Resto da Divisao/1133 - Resto da Divisao.layout
Exercises-Beecrowd/1134 - Tipo de Combustivel/1134 - Tipo de Combustivel.cbp
Exercises-Beecrowd/1134 - Tipo de Combustivel/1134 - Tipo de Combustivel.depend
Exercises-Beecrowd/1134 - Tipo de Combustivel/1134 - Tipo de Combustivel.layout
Exercises-Beecrowd/1142 - PUM/1142 - PUM.cbp
Exercises-Beecrowd/1142 - PUM/1142 - PUM.depend
Exercises-Beecrowd/1142 - PUM/1142 - PUM.layout
Exercises-Beecrowd/1143 - Quadrado e ao Cubo/1143 - Quadrado e ao Cubo.cbp
Exercises-Beecrowd/1143 - Quadrado e ao Cubo/1143 - Quadrado e ao Cubo.depend
Exercises-Beecrowd/1143 - Quadrado e ao Cubo/1143 - Quadrado e ao Cubo.layout
Exercises-Beecrowd/1144 - Sequencia Logica/1144 - Sequencia Logica.cbp
Exercises-Beecrowd/1144 - Sequencia Logica/1144 - Sequencia Logica.depend
Exercises-Beecrowd/1144 - Sequencia Logica/1144 - Sequencia Logica.layout
Exercises-Beecrowd/1145 - Sequencia Logica 2/1145 - Sequencia Logica 2.cbp
Exercises-Beecrowd/1145 - Sequencia Logica 2/1145 - Sequencia Logica 2.layout
Exercises-Beecrowd/1145 - Sequencia Logica 2/1145 - Sequencia Logica 2.depend
Exercises-Beecrowd/1146 - Sequencias Crescentes/1146 - Sequencias Crescentes.cbp
Exercises-Beecrowd/1146 - Sequencias Crescentes/1146 - Sequencias Crescentes.depend
Exercises-Beecrowd/1146 - Sequencias Crescentes/1146 - Sequencias Crescentes.layout
Exercises-Beecrowd/1149 - Somando Inteiros Consecutivos/1149 - Somando Inteiros Consecutivos.cbp
Exercises-Beecrowd/1149 - Somando Inteiros Consecutivos/1149 - Somando Inteiros Consecutivos.depend
Exercises-Beecrowd/1149 - Somando Inteiros Consecutivos/1149 - Somando Inteiros Consecutivos.layout
Exercises-Beecrowd/1150 - Utrapassando Z/1150 - Utrapassando Z.cbp
Exercises-Beecrowd/1150 - Utrapassando Z/1150 - Utrapassando Z.depend
Exercises-Beecrowd/1150 - Utrapassando Z/1150 - Utrapassando Z.layout
Exercises-Beecrowd/1151 - Fibonacci Facil/1151 - Fibonacci Facil.cbp
Exercises-Beecrowd/1151 - Fibonacci Facil/1151 - Fibonacci Facil.layout
Exercises-Beecrowd/1151 - Fibonacci Facil/1151 - Fibonacci Facil.depend
Exercises-Beecrowd/1153 - Fatorial Simples/1153 - Fatorial Simples.cbp
Exercises-Beecrowd/1153 - Fatorial Simples/1153 - Fatorial Simples.depend
Exercises-Beecrowd/1153 - Fatorial Simples/1153 - Fatorial Simples.layout
Exercises-Beecrowd/1154 - Idades/1154 - Idades.cbp
Exercises-Beecrowd/1154 - Idades/1154 - Idades.layout
Exercises-Beecrowd/1154 - Idades/1154 - Idades.depend
Exercises-Beecrowd/1155 - Sequencia S/1155 - Sequencia S.cbp
Exercises-Beecrowd/1155 - Sequencia S/1155 - Sequencia S.layout
Exercises-Beecrowd/1156 - Sequencia S II/1156 - Sequencia S II.cbp
Exercises-Beecrowd/1156 - Sequencia S II/1156 - Sequencia S II.depend
Exercises-Beecrowd/1156 - Sequencia S II/main.cpp
Exercises-Beecrowd/1156 - Sequencia S II/1156 - Sequencia S II.layout
Exercises-Beecrowd/1157 - Divisores I/1157 - Divisores I.cbp
Exercises-Beecrowd/1157 - Divisores I/1157 - Divisores I.depend
Exercises-Beecrowd/1157 - Divisores I/1157 - Divisores I.layout
Exercises-Beecrowd/1158 - Soma de Impares Consecutivos III/1158 - Soma de Impares Consecutivos III.cbp
Exercises-Beecrowd/1158 - Soma de Impares Consecutivos III/1158 - Soma de Impares Consecutivos III.depend
Exercises-Beecrowd/1158 - Soma de Impares Consecutivos III/1158 - Soma de Impares Consecutivos III.layout
Exercises-Beecrowd/1159 - Soma de Pares Consecutivos/1159 - Soma de Pares Consecutivos.cbp
Exercises-Beecrowd/1159 - Soma de Pares Consecutivos/1159 - Soma de Pares Consecutivos.layout
Exercises-Beecrowd/1164 - Numero Perfeito/1164 - Numero Perfeito.cbp
Exercises-Beecrowd/1164 - Numero Perfeito/1164 - Numero Perfeito.depend
Exercises-Beecrowd/1164 - Numero Perfeito/1164 - Numero Perfeito.layout
Exercises-Beecrowd/1165 - Numero Primo/1165 - Numero Primo.cbp
Exercises-Beecrowd/1165 - Numero Primo/1165 - Numero Primo.depend
Exercises-Beecrowd/1165 - Numero Primo/1165 - Numero Primo.layout
Exercises-Beecrowd/1160 - Crescimento Populacional/1160 - Crescimento Populacional.cbp
Exercises-Beecrowd/1160 - Crescimento Populacional/1160 - Crescimento Populacional.depend
Exercises-Beecrowd/1160 - Crescimento Populacional/1160 - Crescimento Populacional.layout
Exercises-Beecrowd/1172 - Substituicao em Vetor I/1172 - Substituicao em Vetor I.cbp
Exercises-Beecrowd/1172 - Substituicao em Vetor I/1172 - Substituicao em Vetor I.depend
Exercises-Beecrowd/1172 - Substituicao em Vetor I/1172 - Substituicao em Vetor I.layout
